#nav-bar{
    background-color: rgb(233, 180, 7);
}
#profile-pic{
    width: 10px;
}
#column-1{
    background-color: rgb(231, 100, 70);
}
#column-2{
    background-color: rgb(17, 188, 231);
}
#column-3{
    background-color: rgb(114, 96, 152);
}
